@font-face {
  font-family: 'League Gothic';
  src: url("../../fonts/league/leaguegothic-regular-webfont.eot");
  src: url("../../fonts/league/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/league/leaguegothic-regular-webfont.woff") format("woff"), url("../../fonts/league/leaguegothic-regular-webfont.ttf") format("truetype"), url("../../fonts/league/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

body {
  font-size: 1.5rem;
  letter-spacing: .01em;
  text-align: center;
  font-family: "Lato", "Tahoma", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased; }

.clearfix {
  overflow: contain; }

.key-name {
  font-size: 14rem; }

.row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.selectors {
  margin-top: 8%; }

form, label {
  font-family: "League Gothic", serif;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 400; }

.form-group {
  padding: .4em .8em .2em .8em;
  background: #111;
  height: 100%;
  margin: 0 .5em; }

.form-control {
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 2.5rem;
  letter-spacing: .04em;
  background-color: transparent;
  border: none;
  color: #14d2a9;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: .25em;
  height: 100%; }
  .form-control:focus {
    border: none;
    box-shadow: none; }

label {
  margin: 0;
  padding: 0; }

.info {
  letter-spacing: .05em;
  width: 90vw;
  margin: 1em auto 0 auto;
  padding: .25em; }
  .info h1 {
    font-weight: 300; }

h1 {
  font-size: 4.5rem;
  line-height: 1.2; }

.chords {
  margin: 3% 2.5vw;
  height: 28rem; }

.chord-card {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 0 .5rem;
  position: relative; }

.chord {
  width: 100%;
  height: 8rem;
  display: block;
  margin: 0 auto; }

h4 {
  padding: .5em 1em;
  font-size: 2.5rem;
  margin-bottom: 0; }

.transposed {
  background: #111;
  color: #14d2a9;
  padding: .4em .5em;
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 85%; }

.numeral {
  width: 90%;
  margin: 0 auto; }

.major {
  border-bottom: 0.15em solid #770320; }

.minor {
  border-bottom: 0.15em solid #14d2a9; }

.seventh {
  border-bottom: 0.15em solid #cb9af9; }

.r {
  color: #770320; }

.g {
  color: #14d2a9; }

.l {
  color: #cb9af9; }

header {
  font-family: "League Gothic", serif;
  background-color: #000;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: .9; }

.logo:hover {
  background-color: #000;
  color: #770320; }

.full:hover {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
  color: #770320; }

a .logo-i {
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  transition: 0.05s;
  letter-spacing: 0; }
  a .logo-i:first-child {
    margin-left: -.1em; }
  a .logo-i:last-child {
    margin-right: .2em; }
  a .logo-i:hover {
    color: #14d2a9; }

ul {
  margin: 0;
  text-align: left; }

li {
  display: inline-block;
  padding: 0.25em .5em;
  height: 100%;
  margin: 0 0 0 -0.2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  li:hover {
    background-color: #14d2a9; }
  li:last-child:hover {
    background-color: #770320; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #fff;
    text-decoration: none; }
  a:active, a:focus {
    color: #14d2a9;
    text-decoration: none; }

.home-background {
  background: url("../../images/guitar-1.jpeg"), no-repeat center center, #222;
  background-blend-mode: soft-light;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 100%; }

.home-hero {
  font-family: "League Gothic", serif;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  color: #fff;
  width: 100%; }
  .home-hero h1 {
    padding: 0 10%;
    font-size: 5.5rem;
    line-height: .9;
    position: absolute;
    top: 40vh; }

#one {
  height: 100vh;
  background-color: transparent;
  color: #fff; }
  #one h1 {
    padding: 0 20%; }

#two {
  background: #222;
  mix-blend-mode: screen;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #14d2a9; }
  #two h1 {
    top: 35vh; }

#three {
  background: url("../../images/guitar-2.jpg"), no-repeat center center, #222;
  background-blend-mode: multiply;
  mix-blend-mode: screen;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 100vh;
  margin: 0;
  padding: 0; }

.three {
  font-family: "League Gothic", serif;
  text-transform: uppercase;
  position: relative;
  padding: 0 10%;
  font-size: 5.5rem;
  line-height: .9;
  bottom: 100vh;
  z-index: 10;
  height: 100vh;
  margin-top: 0;
  padding-top: 36vh; }
  .three a {
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    transition: 0.15s; }
  .three .link-1:hover {
    color: #770320; }
  .three .link-2:hover {
    color: #14d2a9; }

.credits {
  position: absolute;
  z-index: 100;
  bottom: -215vh;
  padding-left: 2em; }
  .credits a {
    text-decoration: underline; }

svg.chordChart .grid {
  stroke: #fff;
  stroke-width: .15rem; }

svg.chordChart .labels {
  fill: #fff; }

svg.chordChart .dots {
  stroke: none;
  fill: #14d2a9; }

svg.chordChart .text {
  fill: #fff; }

svg.chordChart .nut {
  fill: #ddd; }

svg {
  width: 95%; }

.background-one {
  background: url("../../images/guitar-1.jpeg"), no-repeat center center, #222;
  background-blend-mode: soft-light;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; }

.content {
  position: relative;
  z-index: 5;
  margin-top: 0; }

.background-two {
  background: url("../../images/guitar-2.jpg") no-repeat center center, #111;
  background-blend-mode: soft-light;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; }

.content {
  position: relative;
  z-index: 5;
  margin-top: 0; }

/*# sourceMappingURL=index.css.map */
