@font-face {
  font-family: 'League Gothic';
  src: url("../../fonts/league/leaguegothic-regular-webfont.eot");
  src: url("../../fonts/league/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/league/leaguegothic-regular-webfont.woff") format("woff"), url("../../fonts/league/leaguegothic-regular-webfont.ttf") format("truetype"), url("../../fonts/league/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

body {
  background: url("../../images/guitar-1.jpeg"), no-repeat center center, #222;
  background-blend-mode: soft-light;
  background-size: cover;
  font-size: 1.5rem;
  letter-spacing: .01em;
  text-align: center;
  font-family: "Lato", "Tahoma", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased; }

.clearfix {
  overflow: contain; }

.key-name {
  font-size: 14rem; }

.row {
  display: flex; }

.selector {
  flex: 1;
  height: 5rem;
  margin: 3rem; }

form, label {
  font-family: "League Gothic", serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400; }

.form-group {
  padding: .4em .8em .2em .8em;
  background: #222;
  height: 100%;
  margin: 0 .5em; }

.form-control {
  font-size: 2.5rem;
  letter-spacing: .04em;
  background-color: transparent;
  border: none;
  color: #16d09e;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 100%; }
  .form-control:focus {
    border: none;
    box-shadow: none; }

label {
  margin: 0;
  padding: 0; }

.info {
  letter-spacing: .05em;
  width: 90vw;
  margin: 1em auto .25em auto;
  padding: .25em; }

h1 {
  font-size: 4.5rem;
  line-height: 0.9; }

.chords {
  margin: 2.5rem 0 0 0; }

.chord-card {
  flex: 1;
  height: 100%;
  padding: 0 .5rem;
  display: inline; }

.chord {
  width: 100%;
  height: 8rem;
  display: block;
  margin: 0 auto; }

h4 {
  padding: .5em 1em;
  font-size: 2.5rem;
  margin-bottom: 0; }

.transposed {
  background: #222;
  color: #16d09e;
  background-blend-mode: multiply;
  padding: .4em .5em; }

.numeral {
  width: 90%;
  margin: 0 auto; }

.major {
  border-bottom: 0.15em solid #770320; }

.minor {
  border-bottom: 0.15em solid #16d09e; }

.seventh {
  border-bottom: 0.15em solid #cb9af9; }

.r {
  color: #770320; }

.g {
  color: #16d09e; }

.l {
  color: #cb9af9; }

header {
  font-family: "League Gothic", serif;
  background-color: #222;
  color: #fff;
  margin: 0 0 5vh 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  background-blend-mode: multiply; }

.logo:hover {
  background-color: #222;
  color: #770320; }

.full:hover {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
  color: #770320; }

a .logo-i {
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  transition: 0.05s;
  letter-spacing: 0; }
  a .logo-i:first-child {
    margin-left: -.1em; }
  a .logo-i:last-child {
    margin-right: .2em; }
  a .logo-i:hover {
    color: #16d09e; }

ul {
  margin: 0;
  text-align: left; }

li {
  display: inline-block;
  padding: 0.25em .5em;
  height: 100%;
  margin: 0 0 0 -0.2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  li:hover {
    background-color: #16d09e; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #fff;
    text-decoration: none; }
  a:active, a:focus {
    color: #16d09e;
    text-decoration: none; }

svg.chordChart .grid {
  stroke: #fff;
  stroke-width: .15rem; }

svg.chordChart .labels {
  fill: #fff; }

svg.chordChart .dots {
  stroke: none;
  fill: #16d09e; }

svg.chordChart .text {
  fill: #fff; }

svg.chordChart .nut {
  fill: #ddd; }

svg {
  width: 95%; }

/*# sourceMappingURL=index.css.map */
