

//thing necessary for bootstrap UI
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
//
// div, ul, li, a, label, select, form {
//   border: 1px solid $red;
// }

body {

  font-size: 1.5rem;
  letter-spacing: .01em;
  text-align: center;
  font-family: $primary;
  color: $white;
  -webkit-font-smoothing: antialiased;
}

.clearfix {
  overflow: contain;
}

.key-name {
  font-size: 14rem;
}

.row {
  @include display(flex);
}
  .selectors {
    margin-top: 8%;

  }

form, label {
  font-family: $league;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 400;
}
  .form-group {
    padding: .4em .8em .2em .8em;
    background: $black;
    height: 100%;
    margin: 0 .5em;
  }
.form-control {
    font-family: $primary;
    font-size: 2.5rem;
    letter-spacing: .04em;
    background-color: transparent;
    border: none;
    color: $green;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: .25em;
    height: 100%;


    &:focus {
      border: none;
      box-shadow: none;
    }



  }

  label {
    margin: 0;
    padding: 0;

  }

.info {
  letter-spacing: .05em;
  width: 90vw;
  margin: 1em auto 0 auto;
  padding: .25em;
  h1 {
  font-weight: 300;
}
}
h1 {
  font-size: 4.5rem;
  line-height: 1.2;
}
//
.chords {
  margin: 3% 2.5vw;
  height: 28rem;
}
  .chord-card {
    @include flex(1);
    height: 100%;
    padding: 0 .5rem;
  }
    .chord {
      width: 100%;
      height: 8rem;
      display: block;
      margin: 0 auto;
    }

    h4{
      padding: .5em 1em;
      font-size: 2.5rem;
      margin-bottom: 0;
    }
      .transposed {
        background: $black;
        color: $green;
        padding: .4em .5em;
        position: absolute;
        bottom: 0;
        width: 12%;
      }
      .numeral {
        width: 90%;
        margin: 0 auto;
      }


.major {
  border-bottom: .15em solid $red;
}

.minor {
  border-bottom: .15em solid $green;
}
.seventh {
  border-bottom: .15em solid $purple;
}

.r {
  color: $red;
}

.g {
  color: $green;
}

.l {
  color: $purple;
}
