.home-background {
    background: url("../../images/guitar-1.jpeg"), no-repeat center center, #222;
    background-blend-mode: soft-light;
    background-size: cover;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1;
    width: 100%;

}

.home-hero {
  font-family: $league;
  text-transform: uppercase;
  height: 40vh;
  position: relative;
  margin-top: 100vh;
  z-index: 10;
  background-color: $white;
  color: $black;
  width: 100%;
  h1{
    padding: 0 10%;
    font-size: 5.5rem;
    line-height: .9;
  }
}

#one {
  margin: 43vh 0 17vh 0;
  background-color: transparent;
  color: $white;
}
#two {
  
}
