

header {
  background-color: $black;
  color: $white;
}
  li {
    display: inline-block;
    padding: .6em;
    height: 100%;

    &:hover {
      background-color: $green;
    }

  }
    a {
    color: $white;
    text-decoration: none;
  }
