

header {
  font-family: $league;
  background-color: #000;
  // @include linear-gradient(left, $black, $green);
  color: $white;
  // border-bottom: .25em solid $white;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  width: 100vw;
  background-blend-mode: multiply;
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: .9;
}

.logo:hover {
  background-color: #000;
  color: $red;
}
.full:hover{
  @include transition(.1s);
  color: $red;
}

a .logo-i {
  @include transition(.05s);
  letter-spacing: 0;
  &:first-child {
  margin-left: -.1em;
  }
  &:last-child {
    margin-right: .2em;
  }
  &:hover{
    color: $green;
  }
}
ul {
  margin: 0;
  text-align: left;
}
  li {
    display: inline-block;
    padding: 0.25em .5em;
    height: 100%;
    margin: 0 0 0 -0.2em;
    @include transition(.2s);

    &:hover {
      background-color: $green;
    }
    &:last-child:hover{
      background-color: $red;
    }

  }

    a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: none;
    }
    &:active, &:focus {
      color: $green;
      text-decoration: none;

    }
  }
