<div class="selectors">


  <form class="form-inline chord-form">
    <label for="open-keys"> Choose an Open Key</label>
    <select name="open-keys" class="form-control" ng-model="selectedKey" ng-options="key for key in openKeys" ng-change="getChords(selectedKey, allOpenKeys)">
      <option value=""></option>
    </select>
    <label for="capo-position"> Choose a Capo Position </label>
    <select name="capo-position" class="form-control" ng-model="capoPosition" ng-options="capoPosition for capoPosition in capoPositions" ng-change="getChords(selectedKey, allOpenKeys)">
      <option value=""></option>
    </select>
  </form>

  <!--  -->

</div>

<div class="info">
  <h1>Open Chords in the key of {{selectedKey}}. </h1>
  <h1>With a Capo on {{capoPosition}}, you are now playing in {{newKey[0]}}. </h1>
</div>
<div class="row chords">

  <div class="chord-card clearfix">
    <h4 class="numeral major"> I </h4>
    <svg class="chord" id="1"></svg>
    <h4 class="transposed"> {{newKey[0]}} </h4>
  </div>

  <div class="chord-card clearfix">
    <h4 class="numeral minor"> II </h4>
    <svg class="chord" id="2"></svg>
    <h4 class="transposed"> {{newKey[1]}} </h4>
  </div>

  <div class="chord-card clearfix">
    <h4 class="numeral minor"> III </h4>
    <svg class="chord" id="3"></svg>
    <h4 class="transposed"> {{newKey[2]}} </h4>
  </div>

  <div class="chord-card clearfix">
    <h4 class="numeral major"> IV </h4>
    <svg class="chord" id="4"></svg>
    <h4 class="transposed"> {{newKey[3]}} </h4>
  </div>

  <div class="chord-card clearfix">
    <h4 class="numeral major"> V </h4>
    <svg class="chord" id="5"></svg>
    <h4 class="transposed"> {{newKey[4]}} </h4>
  </div>

  <div class="chord-card clearfix">
    <h4 class="numeral minor"> VI </h4>
    <svg class="chord" id="6"></svg>
    <h4 class="transposed"> {{newKey[5]}} </h4>
  </div>

  <div class="chord-card clearfix">
    <h4 class="numeral seventh"> VII </h4>
    <svg class="chord" id="7"></svg>
    <h4 class="transposed"> {{newKey[6]}} </h4>
  </div>
</div>
