<div class="row selectors">

  <div class="selector">
      <h3>Select Open Key</h3>
      <uib-carousel active="active" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in openKeys track by slide.id" index="slide.id">
          <h1 class="key-name"> {{slide.key}} </h1>


          <div class="carousel-caption">
            <!-- <h4>Slide {{slide.id}}</h4> -->
            <!-- <p>{{slide.text}}</p> -->
          </div>
        </uib-slide>
      </uib-carousel>
    </div>

<!--  -->
<div class="selector">
  <h3>Capo Position</h3>
    <uib-carousel active="activeCapo" no-wrap="noWrapSlides" ng-click="runConversion()">
      <uib-slide ng-repeat="slide in capoPositions track by slide.id" index="slide.id">
        <h1 class="key-name" ng-model="capoPosition"> {{slide.fret}}</h1>
        <div class="carousel-caption">
          <!-- <h4>Slide {{slide.id}}</h4> -->
          <!-- <p>{{slide.text}}</p> -->
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</div>
<h1>Open Chords</h1>

<div class="row chords" >
  <div class="chord-card clearfix" ng-repeat="chord in chords">
    <h4> Numeral</h4>
      <img class="chord" alt="" />
    <div class="row chord-names">
      <h4 class="normal"> {{chord.name}} </h4>
      <h4 class="transposed"> {{chord.transposedChord}} </h4>
    </div>
  </div>
</div>

<div class="test" ng-controller="Key_makerController">
<svg class="chord" id="exampleChart"></svg>
</div>
