<div class="home-background">
</div>
  <div>
  <div class="home-hero" id="one">
    <h1>Welcome to bridge, the app that makes playing with a capo easy.</h1>
  </div>
  <div class="home-hero" id="two">
    <h1>Bridge allows you to play in different keys, and use different chord voicings without memorizing note names.</h1>
  </div>
</div>
<div class="home-hero" id="three">


</div>


<h1 class="three">Get started by using <a href="#recommendations" class="link-1">recommendations</a> to find new ways to play your favorite songs.</br></br>
  Or, do some research using the <a href="#chord_names" class="link-2">transposer.</a></h1>

  <p class="credits">
    &copy Andy Fehrenbach 2016. Credits: <a href="http://chordography.blogspot.com/"> Chordography Script</a> by Clive Grant. Photography by <a href="https://www.pexels.com/u/aaronsvd/">Harvey Salvador</a>.
  </p>
